<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationRoute</key>
	<string>http://kpm.mybluemix.net</string>
	<key>applicationId</key>
	<string>63dd20e0-0bdf-4ae4-a62f-782be0aa8dcf</string>
</dict>
</plist>
